html {
  box-sizing: border-box;
  font-size: 17px;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: serif;
  text-decoration: none;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: 5em;
  grid-template-areas: "navbar" "main-content" "carousel" "lorem" "footer";
  width: 90%;
  margin-left: 2em;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-areas: "logo links icons";
  grid-area: navbar;
  justify-content: space-between;
}

.logo {
  display: grid;
  grid-template-columns: minmax(280px, 300px);
  min-width: 100px;
  grid-area: logo;
}
.logo img {
  height: 40px;
}

.links {
  display: grid;
  grid-template-columns: repeat(3, minmax(90px, 120px));
  gap: 2em;
  grid-area: links;
  justify-items: center;
}

.icons {
  display: grid;
  grid-template-columns: repeat(2, minmax(30px, 40px));
  grid-template-rows: 1fr;
  gap: 2em;
  justify-content: end;
  grid-area: icons;
}
.icons img {
  width: 30px;
  height: 30px;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  grid-template-areas: "maincontent-text maincontent-img";
  grid-area: main-content;
}

.maincontent-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 2em;
  grid-area: maincontent-text;
  width: 400px;
}

.maincontent-text h1 {
  font-size: 3em;
}

.vermas-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 1.4em;
  width: 200px;
  height: 35px;
}
.vermas-btn p {
  margin-right: 2em;
}
.maincontent-text a img {
  width: 25px;
  height: 25px;
}
.maincontent-img {
  display: grid;
  grid-template-columns: 6% 94%;
  grid-template-rows: 1fr;
  grid-area: maincontent-img;
}

.carousel {
  display: grid;
  grid-template-columns: 0px repeat(3, 1fr) 0px;
  grid-template-areas: ". carousel-content1 carousel-content2 carousel-content3 .";
  grid-area: carousel;
}
.carousel::before {
  content: url("../img/Flechas(2).svg");
  align-self: center;
}
.carousel::after {
  content: url("../img/Flechas(1).svg");
  align-self: center;
}

.carousel-content1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 370px repeat(3, auto);
  grid-area: carousel-content1;
  gap: 3em;
  justify-items: center;
  align-items: end;
}

.carousel-content2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 370px repeat(3, auto);
  grid-area: carousel-content2;
  gap: 3em;
  justify-items: center;
  align-items: end;
}
div[class^="carousel-content"] > img {
  width: 70%;
}
div[class^="carousel-content"] > p {
  padding: 0 4em;
}

.carousel-content3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 370px repeat(3, auto);
  grid-area: carousel-content3;
  gap: 3em;
  justify-items: center;
  align-items: end;
}

.lorem {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-area: lorem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px 1px;
  grid-template-areas: "footer-text footer-imgs" "footer-imglink footer-imglink";
  grid-area: footer;
}

.footer-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-area: footer-text;
}

.footer-imgs {
  grid-area: footer-imgs;
}

.footer-imglink {
  grid-area: footer-imglink;
}
